<template name="home">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <img class="img-thumbnail" height="140" width="140"
                         src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p160x160/10805602_806397379425428_1951278501229358827_n.jpg?oh=cc23af027e902fb288083fc959a2f8bd&oe=55DB5DC8&__gda__=1440702837_ebca4896dc3d663a94b2565309d6ff07">
                    <img class="img-thumbnail" height="140" width="140"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT587aJ400ZlkrIQv9ghww1a3CuFEkgpHwd3V8bSoYGREWsG6yu">

                    <h1>{{publicSettings.meta.title}}</h1>

                    <p>{{publicSettings.meta.description}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Synopsis</h3>
                    </div>
                    <div class="panel-body">
                        <p>There are several boilerplate's and tools to initialise a Meteor project. However, they
                            don't always provide a lot of documentation on how they are put together, why various
                            decisions
                            were made and so on.</p>

                        <p>This Meteor foundation is designed to get developers up and running with the most commonly
                            used packages and conventions, while explaining the why and how.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Key Features</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>A directory structure and layout that is not too complex, while still being capable of
                                supporting a larger project
                            </li>
                            <li>
                                The most commonly used &amp; popular packages, configured for typical usage
                            </li>
                            <li>
                                Comments throughout that explain whats going on and where to obtain further information
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Getting Started</h3>
                    </div>
                    <div class="panel-body">
                        <pre>
                            <code class="language-bash">
                                git clone git@bitbucket.org:camstuart/meteor-foundation.git your-new-project
                                cd your-new-project
                                rm -rf .git
                                git init
                                git add .
                                git commit -am "Initial project setup"
                                ./run
                            </code>
                        </pre>
                        <p class="text-center">Now head over to the <a href="{{ pathFor 'documentation' }}" title="Documentation Page">documentation page</a> to begin customising for your needs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>