<template name="documentation">
    <div class="container">
        <div class="row">
            <div class="well col-md-12">
                Documentation
            </div>
        </div>
    </div>
</template>