<template name="footer">
    <footer class="footer">
        <div class="row text-center">{{> shareit}}</div>
        <div class="row">
            <p class="text-center hidden-sm hidden-xs text-muted">
                Written by: {{publicSettings.meta.author}}. free for use &amp; redistribution.
            </p>
        </div>
    </footer>
</template>