<template name="header">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://bitbucket.org/camstuart/meteor-foundation" target="_blank"><i class="fa fa-code"></i>&nbsp;</a>
                </div>

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="{{ isActiveRoute regex='home' }}"><a class="navbar-brand" href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
                        <li class="{{ isActiveRoute regex='documentation' }}"><a href="{{ pathFor 'documentation' }}"><i class="fa fa-wrench"></i> App Set Up</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i> Related Links<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://www.meteor.com/" target="_blank">Meteor Documentation</a></li>
                                <li><a href="https://atmospherejs.com/" target="_blank">Atmosphere Packages</a></li>
                                <li><a href="http://getbootstrap.com/css/" target="_blank">Twitter Bootstrap 3</a></li>
                                <li><a href="#" target="_blank">...</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>
</template>